<h1>Ripple钱包下载地址：</h1>
<p>
  Ripplewallet 1.0.0 Linux版安装包下载地址：<a href="https://pan.baidu.com/s/1bpngBcN"  target="_blank"> ripplewallet-v1.0.0-linux-x64.tar.7z</a><br>
  Ripplewallet 1.0.0 Windows 32位版安装包下载地址：<a href="https://pan.baidu.com/s/1gftKehd"  target="_blank">ripplewallet-v1.0.0-win-x32.zip</a><br>
  Ripplewallet 1.0.0 Windows 64位版安装包下载地址：<a href="https://pan.baidu.com/s/1c1QdZhQ"  target="_blank">ripplewallet-v1.0.0-win-x64.zip</a><br>
  Ripplewallet 1.0.0 MacOS安装包下载地址：<a href="https://pan.baidu.com/s/1qXD4oHI"  target="_blank">ripplewallet-v1.0.0-macos-x64.zip</a>
  Ripple Wallet代码开源，地址：<a href="https://github.com/lieefu/ripple-wallet"  target="_blank">ripplewallet源代码</a>
</p>
<br><br>
<h1>百合词典下载地址：</h1>
<p>
  LilyDict 1.0.1 Linux版安装包下载地址：<a href="https://yun.baidu.com/s/1c2CHhaK"  target="_blank">lilydictsetup_linux_1.0.1.tar.bz2</a>，这是一个绿色安装包，解压后直接运行LilyDict文件<br>
  LilyDict 1.0.1 Windows版安装包下载地址：<a href="https://yun.baidu.com/s/1c2Cbizm"  target="_blank">LilyDictSetup_win_1.0.1.rar</a><br>
  LilyDict 1.0.1 MacOS系统请下载源代码，自己编译运行，源代码开源地址： <a href="https://git.oschina.net/lieefu/lilydict"  target="_blank">https://git.oschina.net/lieefu/lilydict</a>
</p>
