<h1>百合词典</h1>
<p>
  百合词典，是一个跨平台桌面版词典软件。使用C++开发，图形界面框架库Qt5 QML。提供Linux和Windows安装包，macOS请自行编译源代码使用。
  源代码在开源中国：<a href="https://git.oschina.net/lieefu/lilydict" target="_blank">LilyDict源代码</a>
</p>
<p>
  百合词典，是一个在线词典软件，本地无单词库，词义取自<a href="https://www.shanbay.com/" target="_blank">扇贝网</a>和<a href="http://dict.youdao.com/" target="_blank">有道词典</a>。
  支持扇贝网生词本，查询单词时可点击添加按钮，把单词加入扇贝网生词本，进入扇贝网的智能背单词计划。
</p>
<h3>1.屏幕取词效果图</h3>
<p>
  <img src="assets/img/screenquery.png">
</p>
<h3>2.程序主窗口</h3>
<p>
<img src="assets/img/main.png">
</p>
<h3>3.程序设置窗口</h3>
<p>
<img src="assets/img/setup.png"><br>
<b>系统托盘菜单</b><br>
<img src="assets/img/menu.png"><br>
 通过设置窗口和系统菜单，可以了解到百合词典提供的功能，不再详细说明。
</p>
<h3>4.屏幕取词图标效果图</h3>
<p>
  为了避免取词即显示词义，造成对阅读的干扰，可以开启取词图标显示功能，不点击，该图标会自动消失，点击可获得词义。<br>
  <img src="assets/img/getextlogo.png">
</p>
<h3>5.登录扇贝网窗口</h3>
<p>
  <img src="assets/img/loginshanbay.png"><br>
  菜单中点击“登录扇贝网”，输入扇贝网用户名以及密码登录扇贝网后，词义窗口点加号按钮，可把单词加入扇贝网生词本，列入背单词计划。<br>
  <b>加入扇贝网生词本效果图</b><br>
  <img src="assets/img/addshanbay.png">
</p>
<h3>6.关于窗口</h3>
<p>
<img src="assets/img/about.png">
</p>
