<h1>百合词典</h1>
<p>
  <b>百合词典</b>，是一个开源跨平台桌面版词典软件，  提供Linux和Windows安装包，  <a href="http://www.lieefu.com/download" target="_blank">百合词典安装包下载</a>。<br>
  MacOS系统用户下载源代码自行编译使用，程序源代码在开源中国：<a href="https://git.oschina.net/lieefu/lilydict" target="_blank">LilyDict源代码</a>
</p>
<p>
  <b>百合词典</b>，使用C++开发，图形界面框架库Qt5 QML。本地无单词库，单词词义取自<a href="https://www.shanbay.com/" target="_blank">扇贝网</a>和<a href="http://dict.youdao.com/" target="_blank">有道词典</a>。
  扇贝网侧重于英语学习，首创了智能启发式学习方法，引导你对英语单词进行学习或复习；有道词典词汇量大，查词能力强。
</p>
<p>
  <b>百合词典</b>，支持扇贝网生词本，查词后可点击添加按钮，把单词加入扇贝网生词本，生词自动进入扇贝网智能背单词计划。
</p>
<h3>1.屏幕取词效果图</h3>
<p>
  <img src="assets/img/screenquery.png">
</p>
<h3>2.程序主窗口</h3>
<p>
<img src="assets/img/main.png">
</p>
<h3>3.程序设置窗口</h3>
<p>
<img src="assets/img/setup.png"><br>
<b>系统托盘菜单</b><br>
<img src="assets/img/menu.png"><br>
 通过设置窗口和系统菜单，可以了解到百合词典提供的功能，不再详细说明。
</p>
<h3>4.屏幕取词图标效果图</h3>
<p>
  为了避免取词即显示词义，造成对阅读的干扰，可以开启取词图标显示功能，不点击，该图标会自动消失，点击可获得词义。<br>
  <img src="assets/img/getextlogo.png">
</p>
<h3>5.登录扇贝网窗口</h3>
<p>
  <img src="assets/img/loginshanbay.png"><br>
  菜单中点击“登录扇贝网”，输入扇贝网用户名以及密码登录扇贝网后，词义窗口点加号按钮，可把单词加入扇贝网生词本，列入背单词计划。<br>
  <b>加入扇贝网生词本效果图</b><br>
  <img src="assets/img/addshanbay.png">
</p>
<h3>6.关于窗口</h3>
<p>
<img src="assets/img/about.png">
</p>
<hr>
<h3></h3>
<p>
   软件作者:Lieefu Way<br>
   Email:lieefu@gmail.com<br>
  新浪微博：<a href='http://weibo.com/207899158'>http://weibo.com/207899158</a><br>
  QQ:53336158 <br>
  百合词典QQ群：<a href="https://jq.qq.com/?_wv=1027&k=46pALv4">130406877</a><br>
  <img src="assets/img/lilydict_qr.jpg">
</p>
