<p>
    <a href="http://www.jianshu.com/p/b5803f25b705">RippleWallet瑞波本地钱包使用说明</a>
</p>
<div data-note-content="" class="show-content">
    <p>本地钱包运行于本机系统内，所有代码和数据包括钱包私钥，都在本机存储，不会暴露在互联网上，因此数字货币本地钱包比在线钱包安全。RippleWallet是Ripple支付网络的客户端，实现了创建新钱包、大脑钱包和导入私钥恢复钱包功能， “创建新钱包”，是程序帮你随机建立一个新钱包； “导入私钥恢复钱包”，输入钱包的私钥，用私钥恢复出已有钱包； “大脑钱包”，输入一个自己熟悉的句子，用这个句子创建新钱包，只要大脑记住这个句子，就能随时使用这个钱包。使用ＲippleWallet钱包，可以完成钱包资金查看、转账付款、市场交易、充值提现和设置信任等功能，其中市场交易是Ripple支付网络内置的去中心化交易市场，比中心化交易市场安全可信，杜绝了超买超卖XRP现象。</p>
    <h5>RippleWallet是我自己开发设计的，源代码地址：<a href="https://github.com/lieefu/ripple-wallet" target="_blank">https://github.com/lieefu/ripple-wallet</a>。</h5>
    <h2>钱包主要界面预览</h2>
    <ul>
        <li>
            <p>创建钱包</p>
            <br>
            <div class="image-package">
                <img src="//upload-images.jianshu.io/upload_images/812760-e98513db92990326.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" data-original-src="http://upload-images.jianshu.io/upload_images/812760-e98513db92990326.png?imageMogr2/auto-orient/strip"
                    alt="创建钱包截图" style="cursor: zoom-in;"><br>
                <div class="image-caption">创建钱包截图</div>
            </div>
        </li>
        <li>
            <p>钱包资金</p>
            <br>
            <div class="image-package">
                <img src="//upload-images.jianshu.io/upload_images/812760-e22b7c50c3f57617.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" data-original-src="http://upload-images.jianshu.io/upload_images/812760-e22b7c50c3f57617.png?imageMogr2/auto-orient/strip"
                    alt="钱包资金截图" style="cursor: zoom-in;"><br>
                <div class="image-caption">钱包资金截图</div>
            </div>
        </li>
        <li>
            <p>转账付款</p>
            <br>
            <div class="image-package">
                <img src="//upload-images.jianshu.io/upload_images/812760-9e0e5a93826964fc.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" data-original-src="http://upload-images.jianshu.io/upload_images/812760-9e0e5a93826964fc.png?imageMogr2/auto-orient/strip"
                    alt="转账付款截图" style="cursor: zoom-in;"><br>
                <div class="image-caption">转账付款截图</div>
            </div>
        </li>
        <li>
            <p>交易市场</p>
            <br>
            <div class="image-package">
                <img src="//upload-images.jianshu.io/upload_images/812760-bad8bdbbe6a1eb43.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" data-original-src="http://upload-images.jianshu.io/upload_images/812760-bad8bdbbe6a1eb43.png?imageMogr2/auto-orient/strip"
                    alt="交易市场截图" style="cursor: zoom-in;"><br>
                <div class="image-caption">交易市场截图</div>
            </div>
        </li>
        <li>
            <p>提现</p>
            <br>
            <div class="image-package">
                <img src="//upload-images.jianshu.io/upload_images/812760-1fd57b754d40c8b9.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" data-original-src="http://upload-images.jianshu.io/upload_images/812760-1fd57b754d40c8b9.png?imageMogr2/auto-orient/strip"
                    alt="提现截图" style="cursor: zoom-in;"><br>
                <div class="image-caption">提现截图</div>
            </div>
        </li>
        <li>
            <p>充值</p>
            <br>
            <div class="image-package">
                <img src="//upload-images.jianshu.io/upload_images/812760-7c330bb43edda27b.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" data-original-src="http://upload-images.jianshu.io/upload_images/812760-7c330bb43edda27b.png?imageMogr2/auto-orient/strip"
                    alt="充值截图" style="cursor: zoom-in;"><br>
                <div class="image-caption">充值截图</div>
            </div>
        </li>
    </ul>
    <h2>钱包使用方法</h2>
    <ol>
        <li>下载<br> 安装包包括Linux、MacOS和windows三大系统，安装包下载地址: <a href="http://lieefu.com/download" target="_blank">http://lieefu.com/download</a><br> 源代码地址：
            <a href="https://github.com/lieefu/ripple-wallet" target="_blank">https://github.com/lieefu/ripple-wallet</a>
        </li>
        <li>安装<br> 安装包都是使用绿色安装方式，解压后，运行目录下的ripplewallet执行文件即可。
        </li>
        <li>
            <p>运行</p>
            <br>
            <div class="image-package">
                <img src="//upload-images.jianshu.io/upload_images/812760-d74b57eb8c590ac6.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" data-original-src="http://upload-images.jianshu.io/upload_images/812760-d74b57eb8c590ac6.png?imageMogr2/auto-orient/strip"
                    alt="初次运行界面" style="cursor: zoom-in;"><br>
                <div class="image-caption">初次运行界面</div>
            </div>
        </li>
    </ol>
    <ul>
        <li>点击创建新钱包按钮</li>
    </ul>
    <div class="image-package">
        <img src="//upload-images.jianshu.io/upload_images/812760-b47d382a5ec40086.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" data-original-src="http://upload-images.jianshu.io/upload_images/812760-b47d382a5ec40086.png?imageMogr2/auto-orient/strip"
            alt="image.png" style="cursor: zoom-in;"><br>
        <div class="image-caption">image.png</div>
    </div>
    <ul>
        <li>创建新钱包</li>
    </ul>
    <div class="image-package">
        <img src="//upload-images.jianshu.io/upload_images/812760-9d2752858e2fe188.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" data-original-src="http://upload-images.jianshu.io/upload_images/812760-9d2752858e2fe188.png?imageMogr2/auto-orient/strip"
            alt="image.png" style="cursor: zoom-in;"><br>
        <div class="image-caption">image.png</div>
    </div><br>
    <p>钱包随机生成器可以随意使用多次，一直满意为止，点击保存按钮，保存钱包，接下来可以加密钱包或者点击返回首页，开始使用钱包。</p>

    <ul>
        <li>
            <p>加密钱包</p>
            <br>
            <div class="image-package">
                <img src="//upload-images.jianshu.io/upload_images/812760-8ac0c64a4ca93a7e.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" data-original-src="http://upload-images.jianshu.io/upload_images/812760-8ac0c64a4ca93a7e.png?imageMogr2/auto-orient/strip"
                    alt="image.png" style="cursor: zoom-in;"><br>
                <div class="image-caption">image.png</div>
            </div>
            <br>
            <p>输入口令后，点击确认，显示“钱包文件加密成功”。点击点击返回首页，开始使用钱包。</p>
        </li>
    </ul>
    <div class="image-package">
        <img src="//upload-images.jianshu.io/upload_images/812760-3f320e53ac692b52.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" data-original-src="http://upload-images.jianshu.io/upload_images/812760-3f320e53ac692b52.png?imageMogr2/auto-orient/strip"
            alt="image.png" style="cursor: zoom-in;"><br>
        <div class="image-caption">image.png</div>
    </div><br>
    <p>首页内已经显示刚才生成的钱包，点击就可以进入使用，支持创建多个钱包，在首页内切换使用。</p>

    <div class="image-package">
        <img src="//upload-images.jianshu.io/upload_images/812760-50d23dd439775cc2.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" data-original-src="http://upload-images.jianshu.io/upload_images/812760-50d23dd439775cc2.png?imageMogr2/auto-orient/strip"
            alt="image.png" style="cursor: zoom-in;"><br>
        <div class="image-caption">image.png</div>
    </div><br>
    <p>输入密码，确认后进入钱包。</p>

    <div class="image-package">
        <img src="//upload-images.jianshu.io/upload_images/812760-57518e5ba6a66993.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" data-original-src="http://upload-images.jianshu.io/upload_images/812760-57518e5ba6a66993.png?imageMogr2/auto-orient/strip"
            alt="image.png" style="cursor: zoom-in;"><br>
        <div class="image-caption">image.png</div>
    </div><br>
    <p>新创建的钱包，需要激活后才能使用，激活方法：加入开发者Ripple技术交流群QQ群:56937187，群内有提供激活钱包服务的群友，或者从交易市场比如btc38或者元宝网购买XRP后，向钱包内提现，新钱包提现至少20XRP才能成功。一般30XRP保证正常使用钱包，因为创建信任需要冻结5XRP，一个交易挂单冻结5XRP。</p>

    <ul>
        <li>
            <p>交易市场<br> 钱包激活后，就可以进入交易市场了，初次进入界面入下
            </p>
            <br>
            <div class="image-package">
                <img src="//upload-images.jianshu.io/upload_images/812760-d4fcee4fbd02dbc1.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" data-original-src="http://upload-images.jianshu.io/upload_images/812760-d4fcee4fbd02dbc1.png?imageMogr2/auto-orient/strip"
                    alt="image.png" style="cursor: zoom-in;"><br>
                <div class="image-caption">image.png</div>
            </div>
            <br>
            <p>需要你选择一家网关作为交易市场，选择后，交易市场界面，可以进行挂单交易XRP了</p>
            <br>
            <div class="image-package">
                <img src="//upload-images.jianshu.io/upload_images/812760-bad8bdbbe6a1eb43.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" data-original-src="http://upload-images.jianshu.io/upload_images/812760-bad8bdbbe6a1eb43.png?imageMogr2/auto-orient/strip"
                    alt="交易市场截图" style="cursor: zoom-in;"><br>
                <div class="image-caption">交易市场截图</div>
            </div>
        </li>
    </ul>
    <h1>钱包备份方法</h1>
    <p>在钱包运行目录中有个resources，resources目录中的wallet文件夹就是钱包所在目录。备份这个目录就可以了。通常做法是，压缩软件把wallet文件夹压缩成一个文件，把压缩文件拷贝到网盘或者Ｕ盘保存。</p>

</div>
